#base
/.idea
/.well-known
.DS_Store
Thumbs.db
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.pdf
*.doc
*.docx
*.csv
*.xls
composer.phar

*.old
*.bak

*.rar
*.7z
*.zip
*.tar.gz

tmp

#analitics
yandex_*.html
google*.html
sitemap*.xml

#bitrix
/bitrix/backup
/bitrix/cache
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/stack_cache
/bitrix/catalog_export
/bitrix/html_pages
/logs
/upload
/restore.php
