.page-call-block {


    padding: 10px 15px;


}
.page-call-block-span{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
 .page-call-block-input{
    font-size: 14pt;
    padding: 3px !important;
    border-radius: 0px;
    width: 250px;
    border: 1px solid #CBCBCB !important;
}

.page-call-block-submit{
    border: 1px solid #8C8C8C;
    margin: 10px 0px 10px 10px;
    padding: 3px;
    border-radius: 0px;
    cursor: pointer;
}
.page-call-block-wrap{
    margin: 10px 0px;
}